.background {
	background: rgb(0, 0, 0);
	height:100%;
    width: 100%;
  
  } 
html {
	scroll-behavior: smooth;
  }

.prize{

	margin-left:35vh;
  }
#prize {
	width:90vh;
	margin-top: 50vh;
}
#pstem {
	position: relative;
    width: 500px;
    margin-left:30%;
	margin-top:0%;
	
}
section {
	height: 100vh;
}
#about {
	height: 100vh;
	margin-top: 50vh;
}

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
* {
	box-sizing: border-box;
  }
  
body {
    padding: 0;

	
  }
head {
	text-align: center;
	margin:2px;
	
}




text { 
	position: absolute;
	width: 400px;
	top:26%;
	left: 10%;
	max-width: 30%;
  }



   

.typewriter{
	display: inline-block;
	position: relative;
	top: 0%;
	left: 25%;
	text-align: center;
	padding:0px;
  }
  
  .typewriter h1 {
	overflow: hidden;
	font-size: 40px;
	font-family: 'Cedarville Cursive', cursive;
	color: rgb(29, 147, 65);
	border-right: .15em solid rgb(0, 0, 0);
	white-space: nowrap;
	animation: typing 4.5s steps(50, end) forwards infinite;;
	width: 0;
	margin:0%;
  }
  

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }


 
h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(241, 230, 70);
    
    animation-fill-mode: forwards;
    line-height: 34px;
	margin:0%;
    margin-left:-10%;
	
    height: 35px;
	
    
}

h5 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: rgb(241, 141, 70);
    background-color: white;
    animation-fill-mode: forwards;
    line-height: 60px;
    margin-left:20%;
	margin-right:20%;
	
   

}

h6 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: rgb(241, 141, 70);
    background-color: white;
	padding:10%;
    animation-fill-mode: forwards;
    line-height: 90px;
    margin-left:20%;
	margin-right:20%;
   
    
}


h3 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: rgb(241, 141, 70);
    
    animation-fill-mode: forwards;
    line-height: 34px;
    
    height: 35px;
}
p {
	font-size: 50px;
}
#aboutus {
	
	background-color: white;
	padding:1%;
	margin-left: 30vh;
	width:90vh;
	
}

#sponsorimg {
	position: relative;
    width: 500px;
    margin-left:33%;
	margin-top:0%;
	
}
#what {
	margin-top: 5%;
	padding:1%;
	margin-bottom: 5%;
	background-color: white;
	margin-left: 30vh;
	width:90vh;
}

a {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
	color: rgb(6, 118, 52);
    animation-fill-mode: forwards;
    line-height: 34px;
   
    height: 35px;
	margin-left:48%;
    
}

p {
  color:#28630f;
  font-size: 20px;
  font-weight: 100;
  margin-right:5%;
  margin-left:5%;
}
/* set arrow positioning */
.arrow {
	width: 60px;
	height: 82px;
	position: absolute; /* don't forget set container to relative */
	left: 49%;
	margin-left: 0px;
	bottom: 5%;
    
}
/* set arrow styles */
.arrow path {
	stroke: #c4af25;
	stroke-width: 2px;
	fill: transparent;	
	animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}
/* arrow animation delay */
.arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }

#arrowcont {
	position:absolute;
	top:230vh;
	left:75vh;
	padding:5px;
	margin-top:3%;
}


#arrowcont2 {
	position:absolute;
	top:350vh;
	left:75vh;
	padding:5px;
	margin-top:3%;
}

#arrowcont3 {
	position:absolute;
	top:430vh;
	left:75vh;
	padding:5px;
	margin-top:3%;
}

#arrowcont4 {
	position:absolute;
	top:530vh;
	left:75vh;
	padding:5px;
	margin-top:3%;
}
.accordion {
	background-color: rgb(254, 224, 193);
	border-color: #ba5d16;
	border-radius: 1%;
	color: rgb(201, 77, 28);
	cursor: pointer;
	padding: 18px;
	width: 40%;
	position:relative;
	left:5%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	margin-top: 1%;
	border-style: solid;
  }
  
  
  .accordion:after {
	content: '\002B';
	color: rgb(254, 224, 193);
	border: #ba5d16;
	border-radius: 1%;
	font-weight: bold;
	float: right;
	width: 40%;
	margin-left: 5px;
  }
  

  
  .panel {
	border-color: #ba5d16;
	padding: 0 18px;
	width: 40%;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	position:relative;
	left:5%;
	
  }



.accordion2 {
	background-color: rgb(254, 224, 193);
	border-color: #ba5d16;
	border-radius: 1%;
	color: rgb(201, 77, 28);
	cursor: pointer;
	padding: 18px;
	width: 40%;
	position:relative;
	left:50%;
	top:0%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	margin-top: 1%;
	border-style: solid;
  }


  .panel2 {
	border-color: #ba5d16;
	padding: 0 18px;
	width: 40%;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	position:relative;
	left:50%;
	
  }



  .reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }

  html, body{
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
  .cloud-bg{
	background: #000000;
	display:flex;
	display:-webkit-flex;
	justify-content: start;
	align-items:start;
	height: 30vh;
	position: absolute;
	top:-350%;
	left: -40%;
	
  }
  .cloud-wrapper{
	position: relative;
	animation: swinging 2s infinite;
  }
  .cloud.shade{
	height: 10vh;
	width: 35vh;
	position: absolute;
	top: 50%;
	margin-top: -5vh;
	margin-left: 5vh;
	transform: translateY(10vh);
	z-index: 0;
  }
  .cloud.shade:before{
	height: 17.5vh;
	width: 17.5vh;
	right: 5vh;
	top: -11vh;
  }
  .cloud.shade:after{
	height: 12.5vh;
	width: 12.5vh;
	left: 4vh;
  }
  .cloud.shade,
  .cloud.shade:before,
  .cloud.shade:after{
	background: #000;
  }
  .cloud {
	  -webkit-border-radius: 50px;
	  -moz-border-radius: 50px;
	  border-radius: 50px;
	  height: 12.5vh;
	  position: relative;
	  width: 45vh;
	  margin-top: 45px;
	  z-index: -1;
  }
  @keyframes swinging{
	0%{
	  transform: translateY(2vh);
	  -webkit-transform: translateY(2vh);
	}
	50%{
	  transform: translateY(-2vh);
	  -webkit-transform: translateY(-2vh);
	}
	100%{
	  transform: translateY(2vh);
	  -webkit-transform: translateY(2vh);
	}
  }
  
  .cloud,
  .cloud:before,
  .cloud:after{
	background: #000;
  }
  .cloud:before {
	  -webkit-border-radius: 100px;
	  -moz-border-radius: 100px;
	  border-radius: 100px;
	  width: 22.5vh;
	  height: 22.5vh;
	  right: 7.5vh;
	  top: -12.5vh;
  }
  .cloud:after {
	  -webkit-border-radius: 50px;
	  -moz-border-radius: 50px;
	  border-radius: 50px;
	  height: 15vh;
	  left: 5vh;
	  top: -7.5vh;
	  width: 15vh;
  }
  
  .cloud:after, .cloud:before {
	  content: '';
	  position: absolute;
	  z-indeX: -1;
  }
  .lightning{
	position: absolute;
	width: 15vh;
	background:#fff;
	top: 50%;
	left: 50%;
	margin-left: -7.5vh;
	border-radius: 25%;
	z-index: -10;
	animation: lightning 2s infinite, swingingLight 2s infinite;
  }
  
  .lightning.shade{
	position: absolute;
	  height: 0vh;
	  width: 15vh;
	  animation: unset;
	  z-index: -1;
	  margin-top: 4vh;
	  box-shadow: 0px 0px 14.5vh 5vh #f5e74c;
  }
  
  @keyframes lightning{
	0%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	5%{
	  box-shadow: 0px 0px 300px 100px #fff;
	}
	10%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	15%{
	  box-shadow: 0px 0px 300px 100px #fff;
	}
	20%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	100%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
  }
	  
  @keyframes swingingLight{
	0%{
	  transform: translateY(4vh);
	  -webkit-transform: translateY(4vh);
	}
	50%{
	  transform: translateY(-4vh);
	  -webkit-transform: translateY(-4vh);
	}
	100%{
	  transform: translateY(4vh);
	  -webkit-transform: translateY(4vh);
	}
  }
  
.light {
	height: 100%;
	margin: 0;
	padding: 0;
  }


.cloud-bg2{
	background: #000000;
	display:flex;
	display:-webkit-flex;
	align-items:flex-end;
	justify-content: flex-end;
	height: 20vh;
	position: absolute;
	top:-350%;
	left: 80%;
	
  }
  .cloud-wrapper2{
	position: relative;
	animation: swinging 2s infinite;
  }
  .cloud.shade2{
	height: 10vh;
	width: 35vh;
	position: absolute;
	top: 50%;
	margin-top: -5vh;
	margin-left: 5vh;
	transform: translateY(10vh);
	z-index: 0;
  }
  .cloud.shade2:before{
	height: 17.5vh;
	width: 17.5vh;
	right: 5vh;
	top: -11vh;
  }
  .cloud.shade2:after{
	height: 12.5vh;
	width: 12.5vh;
	left: 4vh;
  }
  .cloud.shade2,
  .cloud.shade2:before,
  .cloud.shade2:after{
	background: #000;
  }
  .cloud2 {
	  -webkit-border-radius: 50px;
	  -moz-border-radius: 50px;
	  border-radius: 50px;
	  height: 12.5vh;
	  position: relative;
	  width: 45vh;
	  margin-top: 45px;
	  z-index: -1;
  }
  @keyframes swinging2{
	0%{
	  transform: translateY(2vh);
	  -webkit-transform: translateY(2vh);
	}
	50%{
	  transform: translateY(-2vh);
	  -webkit-transform: translateY(-2vh);
	}
	100%{
	  transform: translateY(2vh);
	  -webkit-transform: translateY(2vh);
	}
  }
  
  .cloud2,
  .cloud2:before,
  .cloud2:after{
	background: #000;
  }
  .cloud2:before {
	  -webkit-border-radius: 100px;
	  -moz-border-radius: 100px;
	  border-radius: 100px;
	  width: 22.5vh;
	  height: 22.5vh;
	  right: 7.5vh;
	  top: -12.5vh;
  }
  .cloud2:after {
	  -webkit-border-radius: 50px;
	  -moz-border-radius: 50px;
	  border-radius: 50px;
	  height: 15vh;
	  left: 5vh;
	  top: -7.5vh;
	  width: 15vh;
  }
  
  .cloud2:after, .cloud2:before {
	  content: '';
	  position: absolute;
	  z-indeX: -1;
  }
  .lightning2{
	position: absolute;
	width: 15vh;
	background:#fff;
	top: 50%;
	left: 50%;
	margin-left: -7.5vh;
	border-radius: 25%;
	z-index: -10;
	animation: lightning 2s infinite, swingingLight 2s infinite;
  }
  
  .lightning.shade2{
	position: absolute;
	  height: 0vh;
	  width: 15vh;
	  animation: unset;
	  z-index: -1;
	  margin-top: 4vh;
	  box-shadow: 0px 0px 14.5vh 5vh #f5e74c;
  }
  
  @keyframes lightning2{
	0%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	5%{
	  box-shadow: 0px 0px 300px 100px #fff;
	}
	10%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	15%{
	  box-shadow: 0px 0px 300px 100px #fff;
	}
	20%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
	100%{
	  box-shadow: 0px 0px 0px 0px #fff;
	}
  }
	  
  @keyframes swingingLight2{
	0%{
	  transform: translateY(4vh);
	  -webkit-transform: translateY(4vh);
	}
	50%{
	  transform: translateY(-4vh);
	  -webkit-transform: translateY(-4vh);
	}
	100%{
	  transform: translateY(4vh);
	  -webkit-transform: translateY(4vh);
	}
  }
  
.light2 {
	height: 100%;
	margin: 0;
	padding: 0;
  }


  body {
	margin: 0;
	background-color: black;
  }


#can{
	position: absolute;
	z-index: 1;
	top:15%;
	left: -60%;
	overflow: hidden;
  }



#can2 {
	position: absolute;
	z-index: 1;
	top:0%;
	left:60%;
	overflow: hidden;
  }

  #pupa2 {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 100px;
	left: -500%;
	background: linear-gradient(transparent, rgb(137, 130, 29));
  }



  
  .cont {
	width: 600px;
	height: 700px;
	background: #2c283e;
	background: -webkit-linear-gradient(#2c283e, yellow, green);
	background: -o-linear-gradient(#2c283e, yellow, green);
	background: -moz-linear-gradient(#2c283e, yellow, green);
	background: linear-gradient(#2c283e, #2D293E, #625468, #7F6777, #98767D);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
  }
  
  .stars {
	position: absolute;
	top:20%;
	opacity: .8;
  }

  .stars2 {
	position: absolute;
	top:20%;
	left:50%;
	opacity: .8;
  }
  
  .stars3 {
	position: absolute;
	top:140vh;
	opacity: .8;
  }

  .stars4 {
	position: absolute;
	top:160vh;
	left:50%;
	opacity: .8;
  }

    
  .stars5 {
	position: absolute;
	top:240vh;
	opacity: .8;
  }

  .stars6 {
	position: absolute;
	top:260vh;
	left:50%;
	opacity: .8;
  }


    
  .stars7 {
	position: absolute;
	top:340vh;
	opacity: .8;
  }

  .stars8 {
	position: absolute;
	top:360vh;
	left:50%;
	opacity: .8;
  }

      
  .stars9 {
	position: absolute;
	top:440vh;
	opacity: .8;
  }

  .stars10 {
	position: absolute;
	top:460vh;
	left:50%;
	opacity: .8;
  }

  .star {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: 30px;
	margin-left: 20px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
  
  .star2 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: 60px;
	margin-left: 50px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 5s 2s infinite alternate;
  }
  
  .star3 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -60px;
	margin-left: 130px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
  
  .star4 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: 100px;
	margin-left: 130px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 5s 2s infinite alternate;
  }
  
  .star4 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: 100px;
	margin-left: 180px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
  
  .star5 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -70px;
	margin-left: 270px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 5s 2s infinite alternate;
  }
  
  .star6 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -70px;
	margin-left: 300px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
  
  .star7 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: 200px;
	margin-left: 350px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 5s 2s infinite alternate;
  }
  
  .star8 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -100px;
	margin-left: 410px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
  
  .star9 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -30px;
	margin-left: 550px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 5s 2s infinite alternate;
  }
  
  .star10 {
	width: 2px;
	height: 2px;
	background-color: #F4F1DE;
	margin-top: -50px;
	margin-left: 500px;
	box-shadow: 0 0 10px 2px #f9ff4f;
	animation: stars 3s 1s infinite alternate;
  }
 
  
  
  @keyframes lightglow {
	0% {
	  box-shadow: 0 0 60px 0px #fff6a8;
	}
	20% {
	  box-shadow: 0 0 70px 3px #fff6a8;
	}
	30% {
	  box-shadow: 0 0 90px 7px #fff6a8;
	}
	40% {
	  box-shadow: 0 0 100px 10px #fff6a8;
	}
	50% {
	  box-shadow: 0 0 90px 7px #fff6a8;
	}
	80% {
	  box-shadow: 0 0 70px 3px #fff6a8;
	}
	100% {
	  box-shadow: 0 0 60px 0px #fff6a8;
	}
  }
  
  @keyframes hoverglow {
	0% {
	  box-shadow: 0 0 60px 0px #fff6a8;
	}
	20% {
	  box-shadow: 0 0 70px 3px #E07A5F;
	  background-color: rgba(224, 122, 95, .3);
	}
	30% {
	  box-shadow: 0 0 90px 7px #7778A5;
	  background-color: rgba(119, 120, 165, .3);
	}
	40% {
	  box-shadow: 0 0 100px 10px #81B29A;
	  background-color: rgba(129, 178, 154, .3);
	}
	50% {
	  box-shadow: 0 0 90px 7px #F2CC8F;
	  background-color: rgba(224, 122, 95, .3)
	}
	80% {
	  box-shadow: 0 0 70px 3px #81B29A;
	  background-color: rgba(242, 204, 143, .3);
	}
	90% {
	  box-shadow: 0 0 60px 0px #7778A5;
	  background-color: rgba(119, 120, 165, .3);
	}
	100% {
	  box-shadow: 0 0 60px 0px #E07A5F;
	  background-color: rgba(224, 122, 95, .3)
	}
  }
  
  .hover {
	justify-content: center;
	align-items: center;
	margin-left: 28%;
	margin-top: 230px;
	color: #F4F1DE;
	font-family: Inconsolata;
	letter-spacing: 4px;
	font-weight: light;
	text-shadow: 2px 2px 3px black;
  }
  

  @keyframes stars {
	0% {
	  box-shadow: 0 0 0px 0px #f9ff4f;
	}
	100% {
	  box-shadow: 0 0 10px 2px #f9ff4f;
	}
  }
  .row {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .column {
	flex: 33.33%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  @media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
	#prize {
		width:150%;
		margin-top: 20%;
		margin-left:-10vh;
	}
	#pstem {
		width:90%;
		z-index: 3;
	}
	#aboutus {
		width:70%;
		display:flex;
		align-items: center;
		text-align: start;
	}
	#what {
		width:70%;
		display:flex;
		align-items: center;
		text-align: start;
	}
	#speakers {
		width:70%;
		display:flex;
		align-items: center;
		text-align: start;
		
	}
	h2{
		font-size: 30px;
		left:40%;
	}
	h5{
		font-size: 30px;
	}
	text { 
		position: absolute;
		width: 300px;
		top:26%;
		left: 10%;
		max-width: 30%;
	  }

	.typewriter{
		display: inline-block;
		position: relative;
		top: 0%;
		left: 25%;
		text-align: center;
		padding:0px;
	  }
	  
	  .typewriter h1 {
		overflow: hidden;
		font-size: 20px;
		font-family: 'Cedarville Cursive', cursive;
		color: rgb(29, 147, 65);
		border-right: .15em solid rgb(0, 0, 0);
		white-space: nowrap;
		animation: typing 4.5s steps(50, end) forwards infinite;;
		width: 0;
		margin:0%;
	  }
	  
	a {
		
		font-size: 30px;
		color: rgb(6, 118, 52);
		animation-fill-mode: forwards;
		line-height: 24px;
	   
		height: 35px;
		margin-left:58%;
		
	}
	  
  }