@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
* {
	box-sizing: border-box;
  }
  .background {
	background: linear-gradient(0deg, rgba(231,255,255,1) 0%, rgb(214, 231, 253) 100%);
	height: 100%; 
  
  } 
body {
    padding: 0;

	
  }
head {
	text-align: center;
	margin:2px;
	
}

h1 {
	position: absolute;
	margin: 0%;
	font-size:5em;
	top:0%;
	left:20%;
	margin:10px;
	font:bold 7.5vw/1.6 'Signika', sans-serif;
	user-select:none;
   }

h2{
	position: absolute;
	
	top:16%;
	left: 40%;
	font-size: 40px;
	color:hsl(328, 75%, 71%);
	margin:5px;
	
}


text { 
	position: absolute;
	width: 400px;
	top:26%;
	left: 10%;
	max-width: 30%;
  }



text2 { 
	position: absolute;
	width: 400px;
	top:26%;
	left: 60%;
	max-width: 30%;
  }

text3 { 
    position: absolute;
    width: 400px;
    top:66%;
    left: 60%;
    max-width: 30%;
    }
text4 { 
      position: absolute;
      width: 400px;
      top:96%;
      left: 10%;
      max-width: 30%;
      }

#wordle {
	width: 400px;
	
	--b: 10px; /* control the size */
  	padding: var(--b);
  	border: calc(2*var(--b)) solid rgba(0, 0, 0, 0);
  	outline: 1px solid rgb(118, 25, 180);
  	outline-offset: calc(-1*var(--b));
  	background: conic-gradient(from 90deg at 1px 1px,rgba(247, 33, 33, 0) 90deg,rgb(143, 36, 165) 0);
}

#hacks {
	width: 400px;
	left:20vh;
	--b: 10px; /* control the size */
  	padding: var(--b);
  	border: calc(2*var(--b)) solid rgba(0, 0, 0, 0);
  	outline: 1px solid rgb(118, 25, 180);
  	outline-offset: calc(-1*var(--b));
  	background: conic-gradient(from 90deg at 1px 1px,rgba(247, 33, 33, 0) 90deg,rgb(143, 36, 165) 0);
}

#bake {
	width: 400px;
	left:-30vh;
  top:60vh;
	--b: 10px; /* control the size */
  	padding: var(--b);
  	border: calc(2*var(--b)) solid rgba(0, 0, 0, 0);
  	outline: 1px solid rgb(118, 25, 180);
  	outline-offset: calc(-1*var(--b));
  	background: conic-gradient(from 90deg at 1px 1px,rgba(247, 33, 33, 0) 90deg,rgb(143, 36, 165) 0);
}

#study {
	width: 400px;
	left:0vh;
  top:60vh;
	--b: 10px; /* control the size */
  	padding: var(--b);
  	border: calc(2*var(--b)) solid rgba(0, 0, 0, 0);
  	outline: 1px solid rgb(118, 25, 180);
  	outline-offset: calc(-1*var(--b));
  	background: conic-gradient(from 90deg at 1px 1px,rgba(247, 33, 33, 0) 90deg,rgb(143, 36, 165) 0);
}

wordlecap {
	
	font-size: 25px;
	color:rgb(118, 25, 180);
}

hackcap {
  width:100%;
	font-size: 25px;
	color:rgb(118, 25, 180);
}

studycap {
  width:100%;
	font-size: 25px;
	color:rgb(118, 25, 180);
}

   
   h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
	@keyframes float {
	 0%,100%{ transform:none; }
	 33%{ transform:translateY(-1px) rotate(-2deg); }
	 66%{ transform:translateY(1px) rotate(2deg); }
   }
   h1:hover span { animation:bounce .6s; }
   @keyframes bounce {
	 0%,100%{ transform:translate(0); }
	 25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
	 50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
   }
   
   span:nth-child(4n) { color:hsl(328, 75%, 71%); text-shadow:1px 1px hsl(328, 75%, 58%), 2px 2px hsl(328, 75%, 58%), 3px 3px hsl(328, 75%, 58%), 4px 4px hsl(328, 75%, 58%); }
   span:nth-child(4n-1) { color:hsl(291, 31%, 59%); text-shadow:1px 1px hsl(291, 31%, 46%), 2px 2px hsl(291, 31%, 46%), 3px 3px hsl(291, 31%, 46%), 4px 4px hsl(291, 31%, 46%); }
   span:nth-child(4n-2) { color:hsl(291, 45%, 43%); text-shadow:1px 1px hsl(291, 45%, 29%), 2px 2px hsl(291, 45%, 29%), 3px 3px hsl(291, 45%, 29%), 4px 4px hsl(291, 45%, 29%); }
   span:nth-child(4n-3) { color:hsl(330, 77%, 57%); text-shadow:1px 1px hsl(330, 77%, 38%), 2px 2px hsl(330, 77%, 38%), 3px 3px hsl(330, 77%, 38%), 4px 4px hsl(330, 77%, 38%); }
   
   h1 span:nth-child(2){ animation-delay:.05s; }
   h1 span:nth-child(3){ animation-delay:.1s; }
   h1 span:nth-child(4){ animation-delay:.15s; }
   h1 span:nth-child(5){ animation-delay:.2s; }
   h1 span:nth-child(6){ animation-delay:.25s; }
   h1 span:nth-child(7){ animation-delay:.3s; }
   h1 span:nth-child(8){ animation-delay:.35s; }
   h1 span:nth-child(9){ animation-delay:.4s; }
   h1 span:nth-child(10){ animation-delay:.45s; }
   h1 span:nth-child(11){ animation-delay:.5s; }
   h1 span:nth-child(12){ animation-delay:.55s; }
   h1 span:nth-child(13){ animation-delay:.6s; }
   h1 span:nth-child(14){ animation-delay:.65s;} 
   h1 span:nth-child(15){ animation-delay:.7s;}
   h1 span:nth-child(16){ animation-delay:.75s;}

  .container {
    cursor: pointer;
    width: 60px;
     position:absolute; margin-right:0px; top:0px;
     margin-right: 0;
      margin-left: 0%;
	  margin:2px;
   
  }
  
  .bar1, .bar2, .bar3 {
	
    width: 70px;
    height: 10px;
    background-color: rgb(218, 78, 164);
    margin: 12px 0;
    
    margin-right: 0%;
    margin-left: 0%;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
  
    margin-top: 2%;
    margin-right: 0%;
    -webkit-transform: rotate(-30deg) translate(2px, 2px) ;
    transform: rotate(-30deg) translate(2px, 2px) ;
    
  }
  
  /* Fade out the second bar */
  .change .bar2 {
  
    margin-right: 0%;
    -webkit-transform: rotate(-90deg) translate(0px,30px) ;
    transform: rotate(-90deg) translate(0px,30px) ;
  }
  
  /* Rotate last bar */
  .change .bar3 {
  
    margin-right: 0%;
    -webkit-transform: rotate(39deg) translate(2px, -8px) ;
    transform: rotate(39deg) translate(2px, -8px) ;
    
  }
  
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(69, 0, 126);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  .sidepanel {
    height: 850px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(248, 204, 222); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ad106c;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
  }
  @-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
  }
  
